
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="author" content="dj.wong" />
    <meta name="keywords" content="归码管理" />
    <meta name="description" content="归码管理" />

    <title>@ViewBag.Title - 归码管理</title>

    @RenderSection("StylesBefore", false)
    
    <!--common style-->
    @Styles.Render("~/Template/Admin/jucheap/Css/BaseStyles")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        .row{margin: 0;}
    </style>

    @RenderSection("StylesAfter", false)
    @Html.Partial("BaiduTongji")
</head>
<body style="background-color: inherit;">

    @RenderBody()

    @Scripts.Render("~/JS/Admin/jucheap/BaseScripts")
    @Scripts.Render("~/JS/Admin/jucheap/JuCheap")

    @RenderSection("Scripts", false)
</body>
</html>
