@using System.Text
@using JuCheap.Service.Dto
@{
    ViewBag.Title = "Handle";
    Layout = "~/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}

@section StylesBefore{
    @Styles.Render("~/Template/Admin/jucheap/Css/DataTable")
}
@section Scripts{
    @Scripts.Render("~/JS/Admin/jucheap/DataTable")
    <script>
        var grid = null;

        function reload() {
            $("#go_search").trigger("click");
        }

        $(function () {
            var cols = [
                { data: "Id", name: "Id", orderable: false },
                { data: "Orderid", name: "orderid", orderable: false },
                { data: "Option", name: "option", orderable: false },
                { data: "Name", name: "name", orderable: false },
                { data: "ReCodeSize", name: "reCodeSize", orderable: false },
                { data: "Number", name: "Number", orderable: true },
                {
                    data: function (e) {
                        var dt = new Date(e);

                        return dt.toLocaleDateString();
                    }, name: "CreateDateTime",
                    orderable: true
                },
                { data: "Note", name: "note", orderable: false }
            ];
            var config = {
                id: "table_server",
                url: "@Url.Action("GetList",@ViewContext.RouteData.Values)",
                columns: cols,
                order: [[0, "desc"]]
            };
            grid = new jucheap.grid(config);
            grid.load();

            $(".box-refresh").click(function () {
                grid.reload();
            });
        });


        function Handle() {
            var action = $("select[name='size_banxing']").val() + "_" + $("select[name='size_type']").val() + "_" + $("select[name='size_gender']").val();
            $.post("@Url.Action("Handle", @ViewContext.RouteData.Values)", { 'Size_Code': $("select[name='size_code']").val(), 'Action': action }, function (msg) {
                if (msg.state == 1) {
                    loadPopup(XF_SY_NAN_thead, msg.msg, '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="save()">导出</button ><button type="button" class="btn btn-default" data-dismiss="modal">取消</button>', false);
                    show_dig();
                } else {
                    alert(msg.msg)
                }
            })
        }

        function loadSelect() {
            var action = $("select[name='size_banxing']").val() + "_" + $("select[name='size_type']").val() + "_" + $("select[name='size_gender']").val();
            $.post("/Adm/HandleData/SizeCodeSelect", { Code: $("select[name='size_code']").val(), Action: action }, function (result) {
                if (result.state == 1) {

                    var data = result.msg;
     
                   
                    var html = "";

                    $("select[name='size_code'] option").remove();
                    for (var i = 0; i < data.length; i++) {
                        html += "<option value='" + data[i][i]["Size_Code"] + "'>" + data[i][i]["Size_Code"] + "</option>"
                    }

                    $("select[name='size_code']").append(html);
                } else {
                    alert(result.msg)
                }

            })


        }


        function getXlsFromTbl(inTblId, inWindow) {
            try {
                var allStr = "";
                var curStr = "";
                //alert("getXlsFromTbl");   
                if (inTblId != null && inTblId != "" && inTblId != "null") {
                    curStr = getTblData(inTblId, inWindow);
                }
                if (curStr != null) {
                    allStr += curStr;
                }
                else {
                    alert("你要导出的表不存在！");
                    return;
                }
                var fileName = getExcelFileName();
                doFileExport(fileName, allStr);
            }
            catch (e) {
                alert("导出发生异常:" + e.name + "->" + e.description + "!");
            }
        }
        function getTblData(inTbl, inWindow) {
            var rows = 0;
            //alert("getTblData is " + inWindow);   
            var tblDocument = document;
            if (!!inWindow && inWindow != "") {
                if (!document.all(inWindow)) {
                    return null;
                }
                else {
                    tblDocument = eval(inWindow).document;
                }
            }
            var curTbl = tblDocument.getElementById(inTbl);
            var outStr = "";
            if (curTbl != null) {
                for (var j = 0; j < curTbl.rows.length; j++) {
                    //alert("j is " + j);   
                    for (var i = 0; i < curTbl.rows[j].cells.length; i++) {
                        //alert("i is " + i);   
                        if (i == 0 && rows > 0) {
                            outStr += " \t";
                            rows -= 1;
                        }
                        outStr += curTbl.rows[j].cells[i].innerText + "\t";
                        if (curTbl.rows[j].cells[i].colSpan > 1) {
                            for (var k = 0; k < curTbl.rows[j].cells[i].colSpan - 1; k++) {
                                outStr += " \t";
                            }
                        }
                        if (i == 0) {
                            if (rows == 0 && curTbl.rows[j].cells[i].rowSpan > 1) {
                                rows = curTbl.rows[j].cells[i].rowSpan - 1;
                            }
                        }
                    }
                    outStr += "\r\n";
                }
            }
            else {
                outStr = null;
                alert(inTbl + "不存在!");
            }
            return outStr;
        }
        function getExcelFileName() {
            var d = new Date();
            var curYear = d.getYear();
            var curMonth = "" + (d.getMonth() + 1);
            var curDate = "" + d.getDate();
            var curHour = "" + d.getHours();
            var curMinute = "" + d.getMinutes();
            var curSecond = "" + d.getSeconds();
            if (curMonth.length == 1) {
                curMonth = "0" + curMonth;
            }
            if (curDate.length == 1) {
                curDate = "0" + curDate;
            }
            if (curHour.length == 1) {
                curHour = "0" + curHour;
            }
            if (curMinute.length == 1) {
                curMinute = "0" + curMinute;
            }
            if (curSecond.length == 1) {
                curSecond = "0" + curSecond;
            }
            var fileName = "leo_zhang" + "_" + curYear + curMonth + curDate + "_"
                + curHour + curMinute + curSecond + ".csv";
            //alert(fileName);   
            return fileName;
        }   

        function doFileExport(inName, inStr) {
            var xlsWin = null;
            if (!!document.all("glbHideFrm")) {
                xlsWin = glbHideFrm;
            }
            else {
                var width = 6;
                var height = 4;
                var openPara = "left=" + (window.screen.width / 2 - width / 2)
                    + ",top=" + (window.screen.height / 2 - height / 2)
                    + ",scrollbars=no,width=" + width + ",height=" + height;
                xlsWin = window.open("", "_blank", openPara);
            }
            xlsWin.document.write(inStr);
            xlsWin.document.close();
            xlsWin.document.execCommand('Saveas', true, inName);
            xlsWin.close();
        }   



        function toExcel(tableId) {
            var curTbl = document.getElementById(tableId);
            var lenRow = curTbl.rows.length;
 
            //取得表格行数  
            for (i = 0; i < lenRow; i++) {
                var lenCol = curTbl.rows(i).cells.length;
                //取得每行的列数  
                for (j = 0; j < lenCol; j++) {
                    oSheet.Cells(i + 1, j + 1).value = curTbl.rows(i).cells(j).innerText;

                }
            }

            var str = "";
            var uri = 'data:json/csv;charset=utf-8,' + oSheet;

            var downloadLink = document.createElement("a");
            downloadLink.href = uri;
            downloadLink.download = "export.csv";

            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }

    </script>
 
}

<section class="panel">
    <header class="panel-heading head-border">
        数据处理
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form action="@Url.Action("Handle", @ViewContext.RouteData.Values)" method="post">
                <div class="form-group">
                    <label for="name">工单编号</label>
                    <input type="text" class="form-control" name="GDH" />
                </div>
                <div class="form-group">
                    <label for="name">尺码表编号</label>
                    <input type="text" class="form-control" name="Size_Code" />
                </div>
          
                <button type="submit" class="btn btn-success m-b-10"  >处理数据</button>
            </form>



            <div class="form-group">
                <label for="name">尺码表适用版型</label>
                <select class="form-control" name="size_banxing" onchange="loadSelect()">
                    <option value="XF">西服</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">尺码表适用类型</label>
                <select class="form-control" name="size_type" onchange="loadSelect()">
                    <option value="SY">上衣</option>
                    <option value="KZ">裤子</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">尺码表适用性别</label>
                <select class="form-control" name="size_gender" onchange="loadSelect()">
                    <option value="NAN">男</option>
                    <option value="NU">女</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">选择尺码表</label>
                <select class="form-control" name="size_code"></select>
            </div>

            <br>
            <br>
            <div class="input-group">
                <button type="button" class="btn btn-success m-b-10" onclick="Handle()">处理数据</button>
                <button type="button" class="btn btn-success m-b-10" onclick="getXlsFromTbl('table_server', null)">导出Excel</button>

                <button type="button" class="btn btn-success m-b-10" onclick="toExcel('table_server')">导出Excel</button>
            </div>
            <input type="file" name="up_file" style="display:none">
        </div>


    </div>
    </section>


 

 
 
        <div class="hidden" id="hidden_filter">
            @* 把需要搜索的条件放到hidden里面，在table格式化完成的时候直接调用$.html()赋值，免去了在js拼接标签的麻烦 *@
            <div class="row" style="margin-right:0;">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="keywords">关键字</label>
                        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="标题" maxlength="20" />
                    </div>
                    <button type="button" class="btn btn-success" name="go_search">搜索</button>
                </form>
            </div>
        </div>


        <section class="panel">
            <header class="panel-heading" style="margin-bottom: 10px;">
                &nbsp;
                <span class="tools pull-left">
                 
                   
               
                    @if (ViewBag.MyButtons != null)
                    {
                        List<MenuDto> btns = ViewBag.MyButtons;
                        StringBuilder sb = new StringBuilder();
                        foreach (var btn in btns)
                        {
                            sb.AppendFormat("");
                        }

                        @(new MvcHtmlString(sb.ToString()))
                    }
                </span>
                <span class="tools pull-right">
                    <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                    <a class="t-close fa fa-times" href="javascript:;"></a>
                </span>
            </header>
            <table id="table_server" class="table responsive-data-table data-table table-hover">
                <thead>
                    <tr>
                        <th style="width: 40px;">
                            选择
                        </th>
                        <th>
                            订单编号
                        </th>
                        <th>
                            项次
                        </th>
                        <th>
                            姓名
                        </th>
                        <th>
                            归码前尺码
                        </th>
                        <th>
                            数量
                        </th>
                        <th>
                            创建日期
                        </th>
                        <th>
                            备注
                        </th>
                    </tr>
                </thead>
            </table>
        </section>
 


 