@using System.Text
@using JuCheap.Service.Dto
@{
    ViewBag.Title = "Handle";
    Layout = "~/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}


<script src="~/Template/Admin/jucheap/js/jquery-1.11.1.min.js"></script>
<script src="~/Template/Admin/jucheap/js/angular.js"></script>
<script src="~/Template/Admin/jucheap/js/common.js"></script>
@section StylesBefore{
    @Styles.Render("~/Template/Admin/jucheap/Css/DataTable")
}



<script>


    function gdhchange() {
        $("input[name='GDH_ZH']").val($("input[name='GDH']").val());
    }

        function Handle() {

            $.ajax({
                url: "@Url.Action("Handle", @ViewContext.RouteData.Values)",
                data: { 'SizeCode': $("#Size_Code").val(), 'GDH': $("input[name='GDH']").val() },
                type: "POST",
                success: function (msg) {


                    if (msg.state == 1) {
                        $("input[name='OrderName']")[0].click();
                        $("#hidebcModal").click();

                    } else if (msg.state == 2) {
                        $("#showbcModal").click();
                        alert(msg.msg)
                    }
                },
                error: function (a, b, c) {
                    console.log(JSON.stringify(a));

                }
            });

        }

    function showHandleData() {


               $.ajax({
                url: "@Url.Action("GetListForHanderData", @ViewContext.RouteData.Values)",
                data: { 'GDH': $("input[name='GDH']").val(), 'Order':"list.Height"},
                type: "POST",
                success: function (msg) {
                    if (msg.state == 1) {
                        var thead;
                        var html = "";
                        var th_html = "";
                        var data = msg.msg;

                        switch (msg.action) {
                            case "HanderDataForXF_SY":
                                thead = HanderDataForXF_SY_thead;
                                break;
                            case "HanderDataForXF_KZ":
                                thead = HanderDataForXF_KZ_thead;
                                break;
                        }
                        for (var i = 0; i < thead.length; i++) {
                            th_html += '<th class="hidden-xs">' + thead[i].split("/")[0] + ' </th>';
                        }
                        $("#chupaibiao th").remove();
                        $("#chupaibiao thead").append(th_html);

                        for (var i = 0; i < data.length; i++) {
                            html += "<tr class='even pointer insert_excel_list' >"

                            for (var a = 0; a < thead.length; a++) {

                                var txt = data[i][thead[a].split("/")[1]];
                                html += "<td style='padding:2px 0px'>" + txt + "</td>";
                            }

                            html += "</tr>";
                        }

                        $("#chupaibiao tbody").append(html);
                    } else {
                        alert(msg.msg)
                    }
                },
                error: function (a, b, c) {
                    console.log(JSON.stringify(a));

                }
            });


        }



        //加载下拉框
        function loadSelect() {
            var action = $("select[name='size_banxing']").val() + "_" + $("select[name='size_type']").val() + "_" + $("select[name='size_gender']").val();
            $.post("/Adm/HandleData/SizeCodeSelect", { Code: $("select[name='size_code']").val(), Action: action }, function (result) {
                if (result.state == 1) {

                    var data = result.msg;

                    var html = "";

                    $("select[name='size_code'] option").remove();
                    for (var i = 0; i < data.length; i++) {
                        html += "<option value='" + data[i][i]["Size_Code"] + "'>" + data[i][i]["Size_Code"] + "</option>"
                    }

                    $("select[name='size_code']").append(html);
                } else {
                    alert(result.msg)
                }

            })

    }



        function ExportCaiDan() {
            if (!$("input[name='caidanindex']").val()) {
                alert("请输入裁单初始位置。");
                return;
            }

            $("#exportform").ajaxSubmit({
                type: 'post',
                url: '@Url.Action("ExportCaiDan", @ViewContext.RouteData.Values)',
                success: function (data) {

                    if (data.state == "0") {
                        alert(data.msg);
                        return;
                    } else {

                    }

                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    console.log(XmlHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

            function Import() {
            $("input[name='dcl_sizecode']").val($("input[name='GDH']").val());
            $("#Importform").ajaxSubmit({
                type: 'post',
                url: '@Url.Action("ImportHandleData", @ViewContext.RouteData.Values)',
                success: function (data) {

                    if (data.state == "0") {
                        alert(data.msg);
                        return;
                    } else {
                        $(".showtable").show();
                        $(".box-refresh").click()

                    }

                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    console.log(XmlHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }


        function UpdateIndex() {
            $.post("/Adm/HandleData/UpdateIndex", { startIndex: $("input[name='startIndex']").val(), stopIndex: $("input[name = 'stopIndex']").val(), GDH: $("input[name = 'GDH']").val()}, function (result) {
                if (result.state == 1) {

                    var html = "";
                    var data = result.msg;
                    $(".insert_excel_list").remove();
                    switch (result.action) {
                        case "HanderDataForXF_SY":
                            for (var i = 0; i < data.length; i++) {
                                html += "<tr class='even pointer insert_excel_list' >"

                                for (var a = 0; a < HanderDataForXF_SY_thead.length; a++) {

                                    var txt = data[i][HanderDataForXF_SY_thead[a].split("/")[1]];

                                    html += "<td style='padding:2px 0px'>" + txt + "</td>";
                                }

                                html += "</tr>";
                            }
                            $("#Popup_Table tbody tr").remove();
                            $("#Popup_Table tbody").append(html);
                            break;
                        case "HanderDataForXF_KZ":

                            for (var i = 0; i < data.length; i++) {
                                html += "<tr class='even pointer insert_excel_list' >"


                                for (var a = 0; a < HanderDataForXF_KZ_thead.length; a++) {

                                    var txt = data[i][HanderDataForXF_KZ_thead[a].split("/")[1]];

                                    html += "<td style='padding:2px 0px'>" + txt + "</td>";
                                }

                                html += "</tr>";
                            }
                            $("#Popup_Table tbody tr").remove();
                            $("#Popup_Table tbody").append(html)


                            break;
                    }
                } else {
                    alert(result.msg)
                }

            })

        }
</script>

<div ng-app="myApp" ng-controller="myCtrl">
    <section class="panel">
        <header class="panel-heading head-border">
            数据处理
        </header>
        <div class="panel-body">
            <div class="col-md-12">
                <form method="post" id="Importform">
                    <div class="form-group">
                        <label for="name">工单编号</label>
                        <input type="text" class="form-control" name="GDH" ng-blur="loadOrder()" onchange="gdhchange()" />

                    </div>

                </form>

                <button type="button" ng-click="getDCLList()" class="btn btn-success m-b-10">预览待处理数据</button>
                <button type="button" onclick="Handle()" class="btn btn-success m-b-10">预览初排单</button>
                <button type="button" onclick="showHandleData()" class="btn btn-success m-b-10">显示出排单</button>
            </div>
        </div>

    </section>



    <section class="panel ">

        <header class="panel-heading" style="margin-bottom: 10px;">
            <div>
                待处理数据表
            </div>
            <span class="tools pull-right">
                <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                <a class="t-close fa fa-times" href="javascript:;"></a>
            </span>
        </header>
        <table id="table_server" class="table responsive-data-table data-table table-hover">
            <thead>
                <tr>
                    <th>
                        订单编号
                    </th>
                    <th>
                        项次
                    </th>
                    <th>
                        姓名
                    </th>
                    <th>
                        归码前尺码
                    </th>
                    <th>
                        数量
                    </th>

                    <th>
                        备注
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in DCLList">
                    <td>
                        {{x.Orderid}}
                    </td>
                    <td>
                        {{x.Option}}
                    </td>
                    <td>
                        {{x.Name}}
                    </td>
                    <td>
                        {{x.ReCodeSize}}
                    </td>
                    <td>
                        {{x.Number}}
                    </td>
                    <td>
                        {{x.Note}}
                    </td>
                </tr>
            </tbody>
        </table>
    </section>


    <section class="panel ">
        <header class="panel-heading" style="margin-bottom: 10px;">
            <div>
                <div>
                    尺码初排表
                </div>
            </div>
            <div>
                <form action="@Url.Action("ExportCaiDan", @ViewContext.RouteData.Values)" enctype="multipart/form-data" method="post" id="exportform">
                    <div style="border:1px #e6e4d8 solid;padding:5px">
                        <table class="table responsive-data-table data-table table-hover">
                            <tr><td colspan="4" style="text-align:center"><h4>设置排序字段</h4></td></tr>
                            <tr>
                                <td ng-repeat="x in orders">

                                    <div style=" display:inline">
                                        <input name="OrderName" type="checkbox" ng-change="changeOrder('Order')" ng-model="aValue" value="{{x.D_Value}}" />
                                    </div>
                                    {{x.D_Name}}
                                </td>
                            </tr>
                        </table>

                        <table class="table responsive-data-table data-table table-hover">
                            <tr><td colspan="5" style="text-align:center"><h4>调整数据顺序</h4></td></tr>
                            <tr>
                                <td>要调整的序号：</td>
                                <td><input type="text" class="form-control" name="startIndex" /></td>
                                <td>调整到的位置：</td>
                                <td><input type="text" class="form-control" name="stopIndex" /></td>
                                <td><button type="button" class="btn btn-success" ng-click="UpdateOrder()">调整顺序</button></td>
                            </tr>
                        </table>
                        <br />
                        <table class="table responsive-data-table data-table table-hover">
                            <tr><td colspan="3" style="text-align:center"><h4>导出裁单</h4></td></tr>
                            <tr>

                                <td><input type="hidden" name="GDH_ZH" />裁单初始位置：</td>
                                <td><input type="number" class="form-control" name="caidanindex" /></td>
                                <td><button type="submit" class="btn btn-success">导出裁单</button></td>
                            </tr>
                        </table>
                    </div>

                </form>
            </div>
            <span class="tools pull-right">
                <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                <a class="t-close fa fa-times" href="javascript:;"></a>
            </span>
        </header>
        <div class="panel-body">
            <div class="col-md-12">
                <table id="chupaibiao" class="table responsive-data-table data-table table-hover">
                    <thead>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="panel">
        <div class="panel-body">
            <a class="btn btn-success" data-toggle="modal" id="showbcModal" style="display:none" href="advanced-components.html#myModal">

            </a>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">补充信息</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group ">
                                    <label class="control-label col-md-4">
                                        尺码表编号
                                    </label>

                                    <div class="col-md-8">
                                        <input size="16" type="text" id="Size_Code" class=" form-control">
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" onclick="Handle()">保存</button>
                            <button data-dismiss="modal" class="btn btn-default" type="button" id="hidebcModal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </div>
    </section>


    <br />
    <br />
    <br />
</div>
<script>

    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope, $http) {
        $scope.loadOrder = function () {
              $http({
            method: "POST",
            url: '@Url.Action("LoadOrder", @ViewContext.RouteData.Values)',
            data: { GDH: $("input[name='GDH']").val() }
            }).then(function successCallback(response) {
                $scope.orders = response.data.msg;
                }, function errorCallback(response) {
                    alert(response.data.msg);
            });

        }

        $scope.changeOrder = function (type) {

                   var OrderName = "";
                $("input[name='OrderName']").each(function () {
                      if ($(this).is(':checked')) {
                         OrderName += "list." + $(this).attr("value")+",";
                    }
                 })

                $http({
                method: "POST",
                url: '@Url.Action("GetListForHanderData", @ViewContext.RouteData.Values)',
                data: { 'GDH': $("input[name='GDH']").val(), 'Order': OrderName, 'type': type }
            }).then(function successCallback(response) {

                    var thead;
                    var html = "";
                    var th_html = "";
                    var data = response.data.msg;

                    switch (response.data.action) {
                        case "HanderDataForXF_SY":
                            thead = HanderDataForXF_SY_thead;
                            break;
                        case "HanderDataForXF_KZ":
                            thead = HanderDataForXF_KZ_thead;
                            break;
                    }
 
                    for (var i = 0; i < thead.length; i++) {
                        th_html += '<th class="hidden-xs">' + thead[i].split("/")[0] + ' </th>';
                    }
                    $("#chupaibiao th").remove();
                    $("#chupaibiao thead").append(th_html);
                    $(".insert_excel_list").remove();
                    for (var i = 0; i < data.length; i++) {
                        html += "<tr class='even pointer insert_excel_list' >"
 
                        for (var a = 0; a < thead.length; a++) {

                            var txt = data[i][thead[a].split("/")[1]];
                            html += "<td style='padding:2px 0px'>" + txt + "</td>";
                        }

                        html += "</tr>";
                    }

                    $("#chupaibiao tbody").append(html);
                }, function errorCallback(response) {
                    alert(response.data.msg);
            });
        }


                   $scope.UpdateOrder = function () {

                             $http({
                method: "POST",
                url: '@Url.Action("UpdateIndex", @ViewContext.RouteData.Values)',
                data: { 'GDH': $("input[name='GDH']").val(), 'startIndex': $("input[name='startIndex']").val(), 'stopIndex': $("input[name='stopIndex']").val() }
                             }).then(function successCallback(response) {
                                 $scope.changeOrder("NotOrder");
                                 alert(response.data.msg);
                                 }, function errorCallback(response) {
                                 alert(response.data.msg);
                             });

                   }

                   $scope.getDCLList = function () {

                       $http({ method: "POST", url: '@Url.Action("ImportHandleData", @ViewContext.RouteData.Values)', data: { 'GDH': $("input[name='GDH']").val() } }).then(function successCallback(response) {

                             $http({
                method: "POST",
                url: '@Url.Action("GetList", @ViewContext.RouteData.Values)',
                data: { 'GDH': $("input[name='GDH']").val()  }
                             }).then(function successCallback(response) {

                                 $scope.DCLList = response.data.msg;
                                 }, function errorCallback(response) {
                                 alert(response.data.msg);
                             });

                                 }, function errorCallback(response) {
                                 alert(response.data.msg);
                             });


                   }
        });



</script>
