@using System.Text
@using JuCheap.Service.Dto
@{
    ViewBag.Title = "Handle";
    Layout = "~/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}

@section StylesBefore{
    @Styles.Render("~/Template/Admin/jucheap/Css/DataTable")
}
@section Scripts{
    @Scripts.Render("~/JS/Admin/jucheap/DataTable")
    <script>
        var grid = null;

        function reload() {
            $("#go_search").trigger("click");
        }

        $("input[name='GDH']").change(function () {

            $("input[name='GDH_ZH']").val($(this).val());
        })

        $(function () {

            $(".showtable").hide();

            var cols = [
                { data: "Id", name: "Id", orderable: false },
                { data: "Orderid", name: "orderid", orderable: false },
                { data: "Option", name: "option", orderable: false },
                { data: "Name", name: "name", orderable: false },
                { data: "ReCodeSize", name: "reCodeSize", orderable: false },
                { data: "Number", name: "Number", orderable: true },
               
                { data: "Note", name: "note", orderable: false }
            ];
            var config = {
                id: "table_server",
                url: "@Url.Action("GetList",@ViewContext.RouteData.Values)",
                columns: cols,
                order: [[0, "desc"]]
            };
            grid = new jucheap.grid(config);
            grid.load();

            $(".box-refresh").click(function () {
                grid.reload();
            });
        });


        function Handle() {

            $.ajax({
                url: "@Url.Action("Handle", @ViewContext.RouteData.Values)",
                data: { 'Size_Code': $("input[name='Size_Code']").val(), 'GDH': $("input[name='GDH']").val() },
                type: "POST",
                success: function (msg) {
                    if (msg.state == 1) {
                        var thead;
                        var html = "";
                        var th_html = "";
                        var data = msg.msg;
                        console.log(JSON.stringify(data));
                        switch (msg.action) {
                            case "HanderDataForXF_SY":
                                thead = HanderDataForXF_SY_thead;
                                break;
                            case "HanderDataForXF_KZ":
                                thead = HanderDataForXF_KZ_thead;
                                break;
                        }
                        for (var i = 0; i < thead.length; i++) {
                            th_html += '<th class="hidden-xs">' + thead[i].split("/")[0] + ' </th>';
                        }
                        $("#chupaibiao th").remove();
                        $("#chupaibiao thead").append(th_html);

                        for (var i = 0; i < data.length; i++) {
                            html += "<tr class='even pointer insert_excel_list' >"


                            for (var a = 0; a < thead.length; a++) {

                                var txt = data[i][thead[a].split("/")[1]];
                                html += "<td style='padding:2px 0px'>" + txt + "</td>";
                            }

                            html += "</tr>";
                        }

                        $("#chupaibiao tbody").append(html);
                    } else {
                        alert(msg.msg)
                    }
                },
                error: function (a, b, c) {
                    console.log(JSON.stringify(a));

                }
            });

        }



        //加载下拉框
        function loadSelect() {
            var action = $("select[name='size_banxing']").val() + "_" + $("select[name='size_type']").val() + "_" + $("select[name='size_gender']").val();
            $.post("/Adm/HandleData/SizeCodeSelect", { Code: $("select[name='size_code']").val(), Action: action }, function (result) {
                if (result.state == 1) {

                    var data = result.msg;

                    var html = "";

                    $("select[name='size_code'] option").remove();
                    for (var i = 0; i < data.length; i++) {
                        html += "<option value='" + data[i][i]["Size_Code"] + "'>" + data[i][i]["Size_Code"] + "</option>"
                    }

                    $("select[name='size_code']").append(html);
                } else {
                    alert(result.msg)
                }

            })

        }

        function ExportCaiDan() {
            $("input[name='GDH_ZH']").val($("input[name='GDH']").val());
            $("#exportform").ajaxSubmit({
                type: 'post',
                url: '@Url.Action("ExportCaiDan", @ViewContext.RouteData.Values)',
                success: function (data) {

                    if (data.state == "0") {
                        alert(data.msg);
                        return;
                    } else {
                   
                    }

                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    console.log(XmlHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

            function Import() {
            $("input[name='dcl_sizecode']").val($("input[name='GDH']").val());
            $("#Importform").ajaxSubmit({
                type: 'post',
                url: '@Url.Action("ImportHandleData", @ViewContext.RouteData.Values)',
                success: function (data) {

                    if (data.state == "0") {
                        alert(data.msg);
                        return;
                    } else {
                        $(".showtable").show();
                        $(".box-refresh").click()

                    }

                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    console.log(XmlHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }


        function UpdateIndex() {
            $.post("/Adm/HandleData/UpdateIndex", { startIndex: $("input[name='startIndex']").val(), stopIndex: $("input[name = 'stopIndex']").val(), GDH: $("input[name = 'GDH']").val()}, function (result) {
                if (result.state == 1) {

                    var html = "";
                    var data = result.msg;
                    $(".insert_excel_list").remove();
                    switch (result.action) {
                        case "HanderDataForXF_SY":
                            for (var i = 0; i < data.length; i++) {
                                html += "<tr class='even pointer insert_excel_list' >"

                                for (var a = 0; a < HanderDataForXF_SY_thead.length; a++) {

                                    var txt = data[i][HanderDataForXF_SY_thead[a].split("/")[1]];

                                    html += "<td style='padding:2px 0px'>" + txt + "</td>";
                                }

                                html += "</tr>";
                            }
                            $("#Popup_Table tbody tr").remove();
                            $("#Popup_Table tbody").append(html);
                            break;
                        case "HanderDataForXF_KZ":

                            for (var i = 0; i < data.length; i++) {
                                html += "<tr class='even pointer insert_excel_list' >"


                                for (var a = 0; a < HanderDataForXF_KZ_thead.length; a++) {

                                    var txt = data[i][HanderDataForXF_KZ_thead[a].split("/")[1]];

                                    html += "<td style='padding:2px 0px'>" + txt + "</td>";
                                }

                                html += "</tr>";
                            }
                            $("#Popup_Table tbody tr").remove();
                            $("#Popup_Table tbody").append(html)


                            break;
                    }
                } else {
                    alert(result.msg)
                }

            })

        }
    </script>

}

<section class="panel">
    <header class="panel-heading head-border">
        数据处理
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <form method="post" id="Importform">
                <div class="form-group">
                    <label for="name">工单编号</label>
                    <input type="text" class="form-control" name="GDH" />
                    <label for="name">尺码编号</label>
                    <input type="text" class="form-control" name="Size_Code" />
                </div>

            </form>

            <button type="button" onclick="Import()" class="btn btn-success m-b-10">预览待处理数据</button>
            <button type="button" onclick="Handle()" class="btn btn-success m-b-10">预览初排单</button>

        </div>
    </div>

</section>





<div class="hidden " id="hidden_filter">
    @* 把需要搜索的条件放到hidden里面，在table格式化完成的时候直接调用$.html()赋值，免去了在js拼接标签的麻烦 *@
    <div class="row" style="margin-right:0;">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="keywords">关键字</label>
                <input type="text" class="form-control" id="keywords" name="keywords" placeholder="标题" maxlength="20" />
                <input type="hidden" class="form-control" id="dcl_sizecode" name="dcl_sizecode" value="" />
            </div>
            <button type="button" class="btn btn-success" name="go_search">搜索</button>
        </form>
    </div>
</div>


<section class="panel ">

    <header class="panel-heading" style="margin-bottom: 10px;">
        <div>
            待处理数据表
        </div>
        <span class="tools pull-right">
            <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
            <a class="t-close fa fa-times" href="javascript:;"></a>
        </span>
    </header>
    <table id="table_server" class="table responsive-data-table data-table table-hover">
        <thead>
            <tr>
                <th style="width: 40px;">
                    选择
                </th>
                <th>
                    订单编号
                </th>
                <th>
                    项次
                </th>
                <th>
                    姓名
                </th>
                <th>
                    归码前尺码
                </th>
                <th>
                    数量
                </th>
               
                <th>
                    备注
                </th>
            </tr>
        </thead>
    </table>
</section>


<section class="panel ">
    <header class="panel-heading" style="margin-bottom: 10px;">
        <div>
            <div>
                尺码初排表
            </div>
        </div>
        <div>
            <form action="@Url.Action("ExportCaiDan", @ViewContext.RouteData.Values)" enctype="multipart/form-data" method="post" id="exportform">
                <input type="hidden" name="GDH_ZH"  />
                裁单初始位置：<input type="text" class="form-control" style="width:200px" name="caidanindex" /><button type="submit" class="btn btn-success">导出裁单</button>
            </form>
        </div>
        <span class="tools pull-right">
            <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
            <a class="t-close fa fa-times" href="javascript:;"></a>
        </span>
    </header>
    <div class="panel-body">
        <div class="col-md-12">
            <table id="chupaibiao" class="table responsive-data-table data-table table-hover">
                <thead>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>

<br />
<br />
<br />
